h1 {
    font-family:'Amatic SC', cursive;
    border-color: grey;
    margin-top: 2%;
    margin-bottom: 5%;
}
button {
    margin-left: 3%;
    margin-top: 10px;
}
#userid{
    width:20%;
    margin-left: 2%;
}
label{
    color:black;
    font-family:'Times New Roman', Times, serif ;
    margin-left: 30px;
    font-size: 20px;
}
.container{
    font-family: 'Righteous', cursive;
}

